body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.content-section {
    text-align: center;
    width: 300px;
}

.content-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content-section p {
    text-align: center;
    margin-bottom: 20px;
}

.date-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #0056b3;
    border-radius: 5px;
    color: white;
}